/**
 * No Cloudflare - A browser add-on to block Cloudflare requests.
 * *
 * Copyright (C) 2019 Robin Wils
 *
 * This file is part of No Cloudflare.
 *
 * No Cloudflare is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * No Cloudflare is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with No Cloudflare.  If not, see <http://www.gnu.org/licenses/>.
 */


body {
    font-size:1.25rem;
}

button {
    font-size:2rem;
    text-align:center;
}

table {
    width:100%;
}

textarea {
    width:400px;
}

button {
    font-size:1.1em;
    margin:0;
}

td {
    padding:5px;
    vertical-align:top;
    line-height:20px;
}

input, textarea {
    float:left;
}
