/**
 * No Cloudflare - A browser add-on to block Cloudflare requests.
 * *
 * Copyright (C) 2019 Robin Wils
 *
 * This file is part of No Cloudflare.
 *
 * No Cloudflare is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * No Cloudflare is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with No Cloudflare.  If not, see <http://www.gnu.org/licenses/>.
 */

html, body {
	  /* Dark themes support */
	  color:menutext;
	  background:menu;

    /* Width of the popup */
	  width:18em;
	  overflow-x:hidden;
}

h1 {
    margin-top:1rem;
    font-size:1.5em;
}

img {
    float:left;
    padding-right:1rem;
}

td {
    vertical-align:center;
}
